

body{
  background-color: #EEEEEE;
  box-sizing: border-box;
}
/** HEADER **/
#header-nav {
  background-color: #8866aa;
  border-radius: 0;
  border: 0;
  color: #222222;
}


.navbar-brand p { /* Restaurant name */
  font-family: 'Lora', serif;
  font-size: 2em;
  font-weight: bold;
  margin-top: -1px;
  text-shadow: 1px 1px 1px #fff;
}

.navbar-default .navbar-text {
  color: #000;
}

#nav-list {
  margin-top: 10px;
  text-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}

/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand p { /* Restaurant name */
    padding-top: 20px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
  }

}


section {
  background-color: #CCDDEE;
  border: solid black 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}


.container {
  margin-right: auto;
  margin-left: 0;
  padding-bottom: auto;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-left: 20px;
}


hr.style1 {
   
   margin-bottom: -7px;
}